.flex { display: flex; }

body { 
    flex-direction: column;
    min-height: 100vh;
}

#display {
    min-height: 10vh;
    min-width: 100vw;
}
#buttons {
    min-height: 90vh;
    min-width: 100vw;

    font-size: 32px;
}

#digits {
    flex-wrap: wrap;
    min-width: 90vw;
}

#operators{
    flex-direction: column;
    min-height: 33%;
    min-width: 10vw;
}

.digit {
    min-width: 33%;
}
.operator {
    min-height: 20%;
}

.digit, .operator{ font-size: 32px;}

#display p{
    display: inline;
}